<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>お誕生日おめでとう</title>
</head>
<body>
<p><img src="images/IMG_2209.JPG" alt="誕生日ケーキ" width="360" height="360"</p>
<h1 style="color: #d87093;">石原有珠ちゃん<br>お誕生日<br>おめでとうございます<br></h1>
<h2 style="color:plum;">本日誕生日を迎えるあなた様にたくさんのショートな動画メッセージが届いております。</h2>
<p>※いきなり始まるのでご注意ください。</p><br>
<p>
  <ul>
    <li><a href="movies/54ce9e86f3131df7c9c2887932577177.mp4">メッセージ</a>(11秒)</li>
    <img src="images/スクリーンショット 2021-06-13 1.07.24.png" alt="preview" width="120" height="120">
    <li>Happy Birthday(with music)</li>
      <ul>
        <li><a href="movies/d3b48fdd2e31de3b43f2e0d48b8ec9b5.mp4">flower ver.</a>(15秒）</li>
        <img src="images/IMG_5FD7AA733287-1.jpeg" alt="Happy Birthday flower preview" width="120" height="120">
        <li><a href="movies/645113857.808547.mp4">balloon ver.1</a>(9秒)</li>
        <img src="images/IMG_FE7973956949-1.jpeg" alt="Happy Birthday balloon ver.1 preview" width="120" height="120">
        <li><a href="movies/h_bVgTMEsNBzphQE1nCzEp_25007488.MP4">balloon ver.2</a>(13秒)</li>
        <img src="images/IMG_96DC41147B0C-1.jpeg" alt="Happy Birthday balloon ver.1 preview" width="160" height="120">
      </ul>
    <li>Happy Birthday(with no music)</li>
      <ul>
        <li><a href="movies/e071828faa3194b15ee43eae3ae30a06.mp4">birthday cake ver.</a>(6秒)</li>
        <img src="images/IMG_58B69303453C-1.jpeg" alt="Happy Birthday cake ver. preview" width="180" height="120">
        <li><a href="movies/a62558ef5cdef651b2b57c1ee03109ed.mp4">flower ver.</a>(9秒)</li>
        <img src="images/IMG_632835C2CF10-1.jpeg" alt="Happy Birthday flower ver. preview" width="180" height="120">  
      </ul>
    <li>Happy Birthday ~romantic~ (online) ※これらの動画は約20日後まで閲覧できます。</li>
      <ul>
        <li><a href="https://lightmv.com/v/1cts9uy">birthday cake ver.1(70秒)</a></li>
        <img src="images/IMG_2242.JPG" alt="Happy Birthday cake ver.1 preview" width="240" height="120">
        <li><a href="https://lightmv.com/v/edpkxop">birthday cake ver.2(26秒)</a></li>
        <img src="images/IMG_CDC9780FE5D7-1.jpeg" alt="Happy Birthday cake ver.2 preview" width="240" height="120">
      </ul>
    <li>著名人からのお祝いメッセージ</li>
    　<ul>
        <li><a href="movies/82a50f7af231fa4aa86ee18b927fc2c0.mp4">とある有名人より</a>(9秒)</li>
        <li><a href="movies/9136df276757fb425409b1e6ab8b10d7.mp4">とある天才より</a>(11秒)</li>
        <li><a href="movies/My Movie2.mov">とある有名アスリートより</a>(30秒)</li>
      </ul>
    <li><a href="movies/東大.mov">おまけ ~The University of Tokyo~</a>(33秒)</li>
    <img src="images/IMG_35B13CA401A5-1.jpeg" alt="The University of Tokyo preview" width="150" height="240">  
  </ul>
</p><br>
<p>そして最後に...</p>
<h3 style="color: salmon;"><視聴者プレゼント＞</h3>
  <p>今回はなんと、Tiramisu Home Made ティラミスホームメイドの生ティラミスを視聴者の皆様に抽選で10名様にプレゼントいたします!!</p>
  <p>下の動画でメニューが確認できます。</p>
  <p><a href="https://lightmv.com/v/eglujiv">メニュー動画確認</a>(79秒)</p>
  <p><img src="images/e04f57d02d8dc9268cd863eb8ffcadaf.jpeg" alt="menu movie preview" width="240" height="120"></p>
  <p>メニュー詳細</p>
    <table border="1">
      <tr>
        <td><img src="images/IMG_2255.jpg" alt="プレーン"　width="220" height="110"></td>
        <td><img src="images/IMG_2255 2.jpg" alt="抹茶"　width="220" height="110"></td>
        <td><img src="images/IMG_2255 4.jpg" alt="ベリーベリー"　width="220" height="110"></td>
      </tr>
      <tr>
        <td><img src="images/IMG_2255 5.jpg" alt="クッキー&クリーム"　width="220" height="110"></td>
        <td><img src="images/IMG_2256.jpg" alt="ショコラ"　width="220" height="110"></td>
        <td><img src="images/IMG_2256 2.jpg" alt="ロイヤルミルクティー"　width="220" height="110"></td>
      </tr>
      <tr>
        <td><img src="images/IMG_2256 3.jpg" alt="バニラミルフィーユ"　width="220" height="110"></td>
        <td><img src="images/IMG_BBFD482C0F66-1.JPEG" alt="リコッタメロン"　width="180" height="110"></td>
      </tr>
    </table>
    <p>※季節限定商品は、ティラミス リコッタメロン でない可能性がございます。ご了承くださいませ。</p>
    <p style="color:red;">※本製品には特定原材料として卵・乳・小麦・ゼラチンを使用しています (一部商品にフルーツを含む)</p>
    <p style="color:rgb(255, 92, 71);">※要冷蔵　10℃以下で保存(一応保冷剤はつけてもらえます)　　購入日の翌日までにお召し上がり下さい。</p>
    <h4 style="color: tomato;">応募フォーム</h4>
      <form action="file/receive.html" methods="POST">
        <dl>
          <dt><label for="your_name">応募者名</label></dt>
          <dd>
            <input type="text" id="your_name" name="your_name">
          </dd>
          <dt>ご希望の商品(お一つ)</dt>
          <dd>
            <ul>
              <li><label><input type="radio" name="order" value="プレーン">ティラミス(プレーン)</label></li>
              <li><label><input type="radio" name="order" value="抹茶">ティラミス(抹茶)</label></li>
              <li><label><input type="radio" name="order" value="ベリーベリー">ティラミス(ベリーベリー)</label></li>
              <li><label><input type="radio" name="order" value="クッキー&クリーム">ティラミス(クッキー&クリーム)</label></li>
              <li><label><input type="radio" name="order" value="ショコラ">ティラミス(ショコラ)</label></li>
              <li><label><input type="radio" name="order" value="ロイヤルミルクティー">ティラミス(ロイヤルミルクティー)</label></li>
              <li><label><input type="radio" name="order" value="バニラミルフィーユ">ティラミス(バニラミルフィーユ)</label></li>
              <li><label><input type="radio" name="order" value="リコッタメロン">ティラミス(リコッタメロン)</label></li>
              <li><label><input type="radio" name="order" value="アレルギー">アレルギーがあるためティラミスを食べることができない</label></li>
              <li><label><input type="radio" name="order" value="食べたくない">その他の理由でティラミスは食べたくない</label></li>
            </ul>
          </dd>
          <dt>アンケート(任意) 　本ページの動画で特別気に入った動画がありましたら選択してください。</dt>
          <dd>
            <select name="favorite">
             <option value="メッセージ">メッセージ</option>
             <option value="メッセージ">Happy Birthday(with music)のflower ver.</option>
             <option value="メッセージ">Happy Birthday(with music)のballoon ver.1</option>
             <option value="メッセージ">Happy Birthday(with music)のballoon ver.2</option>
             <option value="メッセージ">Happy Birthday(with music)のuts1-21 ver.</option>
             <option value="メッセージ">Happy Birthday(with no music)のbirthday cake ver.</option>
             <option value="メッセージ">Happy Birthday(with no music)のflower ver.</option>
             <option value="メッセージ">Happy Birthday(with no music)のuts1-21 ver.</option>
             <option value="メッセージ">Happy Birthday~romantic~(online)のbirthday cake ver.1</option>
             <option value="メッセージ">Happy Birthday~romantic~(online)のbirthday cake ver.2</option>
             <option value="メッセージ">有名ミュージシャンからのお祝いメッセージ</option>
             <option value="メッセージ">有名俳優からのお祝いメッセージ</option>
             <option value="メッセージ">おまけ ~The University of Tokyo~</option>
            </select>
          </dd> 
        </dl>
        <p><input type="submit" value="送信する"></p>
      </form><br>
<h2 style="color: plum;">本日は最後までご視聴いただき誠にありがとうございます。</h2>
<h2 style="color: plum;">そしてお誕生日おめでとうございます。</h2>
</body>
</html>